<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://omeratt-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5244.site4now.net:8172/msdeploy.axd?site=omeratt-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>omeratt-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>omeratt-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CoffeeShop.Dal.BusinessDal" Order="1" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CoffeeShop.Dal.BusinessDal, CoffeeShop" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OrdersDal" Order="2" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CoffeeShop.Dal.OrdersDal, CoffeeShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TableOrderDal" Order="3" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CoffeeShop.Dal.TableOrderDal, CoffeeShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TblDal" Order="4" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CoffeeShop.Dal.TblDal, CoffeeShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserDal" Order="5" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CoffeeShop.Dal.UserDal, CoffeeShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="drinksDal" Order="6" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CoffeeShop.Dal.drinksDal, CoffeeShop" MigrationConfiguration="CoffeeShop.Migrations.Configuration, CoffeeShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="drinksDal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>"Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserDal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>"Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TblDal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>"Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TableOrderDal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>"Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OrdersDal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>"Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CoffeeShop.Dal.BusinessDal-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>"Data Source=SQL5109.site4now.net;Initial Catalog=db_a81e73_coffeeshop;User Id=db_a81e73_coffeeshop_admin;Password=Coffeeshop10"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CoffeeShop.Dal.BusinessDal" />
  </ItemGroup>
</Project>