
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Style1.css" rel="stylesheet" />


<section class="ftco-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pr-md-5">
                <div class="heading-section text-md-left ftco-animate">
                    <span class="subheading">Discover</span>
                    <br />
                    <br />
                    <br />
                    <div class="cont">
                        <div class="form sign-in">
                            <h2>Welcome</h2>
                            <form action="Log" method="post">
                                <label>
                                    <span>Email</span>
                                    <input type="email" name="email" />
                                </label>
                                <label>
                                    <span>Password</span>
                                    <input type="password" name="pass"/>
                                </label>
                                <p class="forgot-pass">Forgot password?</p>
                                <button type="submit" class="submit">Sign In</button>
                            </form>
                        </div>
                        <div class="sub-cont">
                            <div class="img">
                                <div class="img__text m--up">

                                    <h3>Don't have an account? Please Sign up!<h3>
                                </div>
                                <div class="img__text m--in">

                                    <h3>If you already has an account, just sign in.<h3>
                                </div>
                                <div class="img__btn">
                                    <span class="m--up">Sign Up</span>
                                    <span class="m--in">Sign In</span>
                                </div>
                            </div>
                            <div class="form sign-up">
                                <form action="Reg" method="post">
                                    <label>
                                        <select name="VipOrStantard">
                                            <option>Standard</option>
                                            <option>Vip</option>
                                        </select>
                                    </label>
                                    <label>
                                        <span>Name</span>
                                        <input type="text" name="name" required />
                                    </label>
                                    <label>
                                        <span>Email</span>
                                        <input type="email" name="email" required />
                                    </label>
                                    <label>
                                        <span>age</span>
                                        <input type="number" step="1" name="age" required />
                                    </label>
                                    <label>
                                        <span>Password</span>
                                        <input type="password" name="pass" required />
                                    </label>
                                    <button type="submit" class="submit">Sign Up</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <script>
                        document.querySelector('.img__btn').addEventListener('click', function () {
                            document.querySelector('.cont').classList.toggle('s--signup');
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>




